
@media screen and (max-width: 768px) {

.header {
    width: 100%;
    height: 80vh;
    /* padding: 0 15vw; */
    background-color: black;
  }
  nav{
    display: none;
  }

  .banner-heading h1{
    color: white;
    font-size:1.5rem ;
  }
  /* .banner-statistics{
    display: none;
  } */

  .banner-statistics{
    width: 60vw;
    height:100%;
    margin: auto;
        border: 1px solid white;
        border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .vl {
    display: none;
  }

  .stats{
    margin: auto;
    text-align: center;
    padding: 10px 0;
  }
  .stats h2{
    color: white;
    font-size: 2em;
  }
  .content-section{
    width: 90vw;
    margin: auto;
  }
  .content-main{
    display: flex;
    flex-direction: column;
  }

  .cont-box{
    width: 90%;
  }

  .cont-boxx{
    text-align: center;
    justify-content: center;
    width: 90%;
  }

  .next-step h2{
    font-size: 1.7rem;
    padding: 20px 0;
  }

  .expertise{
    width: 100%;
    margin: auto;
    padding: 0 2vw;
  }

  .exp-header h2{
    font-size: 2rem;
    padding:2vw 0 ;
  }

}